<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        username:<input type="text" name="username" /><br/>
        password;<input type="text" name="password" /><br/>
        <button type="submit"> Register</button>
    </form>

    <hr>
    <a th:href="@{/oauth2/authorization/google}">
        <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png" alt="Sign in with Google">
    </a>

    <a th:href="@{/oauth2/authorization/github}" class="github-btn">
    <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub logo">
    Sign in with GitHub
</a>

</a>
</body>
</html>