<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        username:<input type="text" name="username" /><br/>
        password;<input type="text" name="password" /><br/>
        <button type="submit"> Register</button>
    </form>

    <hr>
    <h3>Or Sign Up With Google</h3>
<a href="/oauth2/authorization/google">
    <button>Sign up with Google</button>
</a>
</body>
</html>